RewriteEngine on
# If a directory or a file exists, use it directly 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
# Otherwise forward it to index.php 
RewriteRule . web/index.php 
RewriteRule ^items-list/([^/]+)$ /items-list.php?id=$1 [L]